
@layer utilities {
  /* The first <p> within a div naturally adds margin-top; this remove that. */
  div.content-group > :first-child {
    margin-top: 0;
  }

  /* Visually merges consecutive <dl> elements by removing extra spacing.
   *
   * Useful when some definitions are wrapped in a `+++` block for embedding,
   * without affecting the overall formatting.
   */
  dl + dl dt:first-of-type {
    margin-top: 0;
  }
  dl:has(+ dl) {
    margin-bottom: 0 !important;
  }
}

.wide-image {
  min-width: 85%;
}

.big {
  font-size: 3em;
}

.no-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.no-margin summary {
  padding-top: 0;
  padding-bottom: 0;
}

.aside-caption {
  font-size: 80%;
  font-style: italic;
}

.wip-status {
  font-size: 90%;
}

.wip-status .myst-admonition-body {
  font-style: italic;
}

.emoticon {
  font-family: 'Trebuchet MS', serif;
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: 0.02em;
  display: inline-block;
  transform: translateY(-0.05em) rotate(12.5deg);
  margin: 0 0.15em;
}

.rustref {
  position: relative;
}

.rustref .filelink {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  font-family: monospace;
  opacity: 0.6;
}

.dark .dark-only {
  display: inline;
}

.inline-icon {
  padding-right: 0.25rem;
}
